.Container {
  margin-top: 5%;
  margin-bottom: 5%;
}

.card {
  border-radius: 30px;
  max-width: 270px;
  height: 390px;
  box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.34);
  transition: transform 0.4s;
}

.card:hover {
  border: 3px solid black;
  transform: scale(1.1);
  border: 2px solid #f47925;
  cursor: pointer;
}

.img {
  border-radius: 30px 30px 0px 60px;
  width: auto;
  height: 150px;
}

.title {
  text-align: left;
  font-family: Gilroy;
  font-size: 17px;
  color: #f47925;
  font-weight: 600;
}

.content {
  text-align: left;
}

button {
  background-color: #f47925;
  color: aliceblue;
  border-radius: 15px;
  border: #f47925;
  width: 60px;
  height: 40px;
  display: flex;
  margin-left: auto;
  margin-top: -15px;
  margin-bottom: 3%;
  align-items: center;
  justify-content: center;
}

.fa-star-half-o,
.fa-star,
.fa-star-o {
  color: #f47925;
  justify-content: space-between;
  margin-left: 3px;
}

.count {
  color: #f47925;
  font-size: 16px;
  margin-left: 5%;
  font-style: normal;
  font-weight: 800;
}

.footergroup {
  margin-top: 5%;
}

.iconName {
  margin-right: 10%;
  margin-left: 3%;
  margin-top: -100px;
  font-style: normal;
}

@media screen and (max-width: 576px) {
  .card {
    width: 75%;
    margin: auto;
    margin-bottom: 5%;
  }
}
