.rbt-aux {
  color: rgb(212, 179, 179);
}

.container {
  margin-top: -400px;
  margin-left: 400px;
  width: 700px;
  position: absolute;
}

@media screen and (max-width: 576px) {
  .container {
    margin-top: -400px;
    margin-left: 0px;
    width: 500px;
  }
}
