body {
  margin: 0;
  padding: 0;
}

/*Search Icon*/
.searchI {
  background-color: #f4f6f5 !important;
}

.Navitem:hover {
  background-color: rgb(7, 99, 53);
}

/*Nav Items*/
.Navitem {
  color: black;
}
