body {
  margin: 0;
  padding: 0;
}

/*Search Icon*/
.searchI {
  background-color: #f4f6f5 !important;
}

.Navitem:hover {
  background-color: rgb(7, 99, 53);
}

/*Nav Items*/
.Navitem {
  color: black;
}

.First {
  height: 200px;
}

.Second {
  height: 200px;
}

.Third {
  height: 100px;
}

.Forth {
  height: 500px;
}

.Fifth {
  height: 200px;
}

@media screen and (max-width: 576px) {
  .Third {
    height: 100px;
  }

  .Forth {
    height: 500px;
    top: 100px;
    position: relative;
  }

  .Fifth {
    height: 100px;
    position: relative;
    top: -500px;
  }
}

.Sixth {
  height: 400px;
}

.Seventh {
  height: 400px;
}
